# Node / frontend
node_modules/
dist/
dist-ssr/
*.local

# Python / backend
venv/
__pycache__/
*.pyc

# Environment
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Database
*.db

# Local registros e auditorias
prints/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
